{% extends "account/base.html" %}
{% block content %}


<div class="col-xs-12 col-md-10 col-lg-6 container-fluid p-3 mt-5 mb-5 text-center rounded bg-wb">
    <div id="login-form">
        <h3 class="text-blue">ورود کاربر</h3>
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="field-error">
                {{ form.non_field_errors }}
            </div>
            <div class="mb-3">
                <label for="{{ form.login.id_for_label }}" class="form-label text-black">آدرس ایمیل</label>
                {{ form.login }}
                <div id="login-email-help" class="form-text text-blue">آدرس ایمیلی که با آن ثبت نام نمودید به عنوان
                    نام کاربری استفاده می شود
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label text-black">کلمه عبور</label>
                {{ form.password }}
            </div>
            <div class="mb-3 form-check">
                {{ form.remember }}
                <label class="form-check-label text-black me-4" for="{{ form.remember.id_for_label }}">مرا به خاطر
                    بسپار</label>
            </div>
            <div class="mb-3">
                <label for="{{ form.captcha.id_for_label }}" class="form-label text-black">عبارت تصویر</label>
                {{ form.captcha }}
                <div class="field-error">
                    {{ form.captcha.errors }}
                </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button id="login-button" type="submit" class="btn bg-blue text-wb">ورود</button>
        </form>
        <small class="text-blue">در صورت فراموش کردن کلمه عبور می توانید نسبت به بازیابی آن اقدام فرمایید</small><br>
        <a class="btn bg-warning text-wb hover-green mb-4 mt-2" href="{% url 'account_reset_password' %}">فراموشی کلمه عبور</a><br>
        <small class="text-blue">در صورتی که حساب کاربری ندارید می توانید نسبت به ساخت حساب کاربری اقدام فرمایید</small><br>
        <a class="btn bg-success text-wb hover-green mt-2" href="{% url 'account_signup' %}">ساخت حساب کاربری جدید</a>
    </div>
</div>
</div>

{% endblock %}