{% extends "account/base.html" %}

{% load account %}


{% block content %}
<div class="container col-md-8 bg-wb text-blue mt-5 p-3 text-center rounded">

    <h3 class="text-blue">باز نشانی کلمه عبور</h3>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-blue">پیام حاوی لینک بازنشانی کلمه عبور به آدرس ایمیل شما ارسال شد در صورتی که پس از چند دقیقه ایمیلی
        دریافت نکردید با
        ما تماس حاصل فرمایید.</p>
    <a class="btn bg-blue text-wb hover-green" href="{% url 'account_login' %}" role="button">
        ورود به حساب کاربری
    </a>
</div>
{% endblock %}
