{% extends "account/base.html" %}


{% block content %}
<div class="container col-md-8 bg-wb text-blue mt-5 p-3 text-center rounded">

    <h3 class="text-blue">تغییر کلمه عبور</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="field-error">
            {{ form.non_field_errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.oldpassword.id_for_label }}" class="form-label text-black">کلمه عبور فعلی</label>
            {{ form.oldpassword }}
            <div class="field-error">
                {{ form.oldpassword.errors }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label text-black">کلمه عبور جدید</label>
            {{ form.password1 }}
            <div class="field-error">
                {{ form.password1.errors }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label text-black">تکرار کلمه عبور جدید</label>
            {{ form.password2 }}
            <div class="field-error">
                {{ form.password2.errors }}
            </div>
        </div>
        <button class="btn bg-blue text-wb hover-green mb-2" type="submit" name="action">تغییر کلمه عبور</button>
        <br>
        <a class="btn bg-blue text-wb hover-green" href="{% url 'account_reset_password' %}">فراموشی کلمه عبور</a>
        <a class="btn btn-warning text-black hover-green" type="submit" href="{% url 'users:profile' %}">بازگشت به پروفایل</a>
    </form>
</div>
{% endblock %}
