{% extends "account/base.html" %}

{% block content %}
<div class="container col-md-8 bg-wb text-blue mt-5 p-3 text-center rounded">

    <h3 class="text-blue">{% if token_fail %}خطای شناسه{% else %}تغییر کلمه عبور{% endif %}</h3>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="text-blue">این لینک بازنشانی کلمه عبور نامعتبر است ممکن است قبلا استفاده شده باشد لطفا یک لینک جدید درخواست کنید
        <a class="text-blue" href="{{ passwd_reset_url }}">درخواست لینک جدید</a>
    </p>
    {% else %}
    {% if form %}
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        <div class="field-error">
            {{ form.non_field_errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label text-black">کلمه عبور جدید</label>
            {{ form.password1 }}
            <div class="field-error">
                {{ form.password1.errors }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label text-black">تکرار کلمه عبور جدید</label>
            {{ form.password2 }}
            <div class="field-error">
                {{ form.password2.errors }}
            </div>
        </div>
       <button class="btn bg-blue text-wb hover-green" type="submit" name="action" value="تعیین کلمه عبور جدید">تعیین کلمه عبور جدید</button>
    </form>
    {% else %}
    <p class="text-blue">کلمه عبور تغییر کرد</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
