{% extends "account/base.html" %}
{% block content %}


<div class="col-xs-12 col-md-10 col-lg-6 container-fluid p-3 mt-5 mb-5 text-center rounded bg-wb">
    <div id="signup-form">
        <h3 class="text-blue">ثبت نام کاربر جدید</h3>
        <form method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="field-error">
                {{ form.non_field_errors }}
            </div>
            <div class="mb-3">
                <label for="{{ form.login.id_for_label }}" class="form-label text-black">آدرس ایمیل</label>
                {{ form.email }}
                <div class="field-error">
                    {{ form.email.errors }}
                </div>
                <div id="login-email-help" class="form-text text-blue">آدرس ایمیلی که با آن ثبت نام می نمایید به عنوان
                    نام کاربری استفاده خواهد شد
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ form.password1.id_for_label }}" class="form-label text-black">کلمه عبور</label>
                {{ form.password1 }}
                <div class="field-error">
                    {{ form.password1.errors }}
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ form.password2.id_for_label }}" class="form-label text-black">تکرار کلمه عبور</label>
                {{ form.password2 }}
                <div class="field-error">
                    {{ form.password2.errors }}
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ form.captcha.id_for_label }}" class="form-label text-black">عبارت تصویر</label>
                {{ form.captcha }}
                <div class="field-error">
                    {{ form.captcha.errors }}
                </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button id="login-button" type="submit" class="btn bg-blue text-wb">ثبت نام</button>
        </form>
        <small class="text-blue">در صورتی که پیش از این حساب کاربری ایجاد نموده اید می توانید وارد حساب کاربری خود شوید</small><br>
        <a class="btn bg-success text-wb hover-green mt-2" href="{% url 'account_login' %}">ورود به حساب کاربری</a>
    </div>
</div>
</div>

{% endblock %}